@media (max-width: 1439px) {
    .container {
        padding-left: 146px;
        padding-right: 146px;
        max-width: 1280px;
    }

    .hero_name {
        max-width: 487px;
        font-size: 77px;
        background-image: url(../img/main/sky\ 1280.webp);
    }

    .about_partners_card {
        height: 272px;
    }

    .hero_descr {
        max-width: 484px;
    }

    .hero_content {
        background-image: url(../img/adaptive/main-1280-1024.webp);
        height: 660px;
    }

    .hero_image_card_wrapper {
        max-width: 220px;
    }

    .hero_text {
        max-width: 358px;
    }

    .about_cards_first_wrapper {
        flex-direction: column;
    }

    .about_story_card,
    .about_advantages_card {
        max-width: 100%;
    }

    .about_advantages_card {
        display: flex;
        justify-content: space-between;
    }

    .about_advantages_text_wrapper {
        max-width: 461px;
    }

    .about_advantages_img {
        display: none;
    }

    .about_advantages_img2 {
        display: block;
        border-radius: 40px;
        width: 484px;
        height: 272px;
        outline: 1px solid #fff;
    }

    .about_cards_second_wrapper {
        flex-direction: column;
    }

    .about_team_cards_wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .about_team_img {
        display: none;
    }

    .about_team_img2 {
        display: block;
        height: 272px;
        border-radius: 40px;
        max-width: 484px;
    }

    .about_team_card {
        height: 272px;
        max-width: 484px;
    }

    .about_cards_third_wrapper {
        flex-direction: column;
    }

    .about_location_img {
        display: none;
    }

    .about_location_img2 {
        display: block;
        border-radius: 40px;
        height: 272px;
        max-width: 484px;
    }

    .about_location_card {
        max-width: 484px;
        height: 272px;
    }

    .about_card_partners_wrapper {
        max-width: 100%;
    }

    .about_location_img_wrapper {
        max-width: 484px;
    }

    .mastika_btn {
        max-width: 610px;
        height: 224px;
    }

    .br {
        display: block;
    }

    .prod_nav_btn {
        height: 224px;
    }

    .gidroiz_img,
    .mastika_img {
        height: 378px;
    }

    .prod_content_gidroiz_descr,
    .prod_content_descr_wrapper {
        max-width: 586px;
    }

    .form_back_main {
        flex-direction: column;
    }

    .form_back_descr_wrapper {
        max-width: 100%;
    }

    .form_back_descr {
        text-align: center;
    }

    .form_right_wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_back_main {
        gap: 40px;
    }

    .contacts_form {
        width: 736px;
    }

    .footer_left_wrapper {
        margin-right: 74px;
    }

    .footer_middle_wrapper {
        margin-right: 43px;
    }

    .footer_logo_link {
        width: 125px;
    }

    .footer_img_logo {
        width: 131px;
        height: 125px;
    }

    .custom_checkbox_text::before {
        right: 670px;
    }

    .custom_checkbox_text::after {
        right: 672px;
    }

    .none_1280 {
        display: none;
    }

    .footer_navbar {
        gap: 24px;
    }
}

@media (max-width: 1279px) {
    .container {
        padding-left: 18px;
        padding-right: 18px;
        max-width: 1024px;
    }
}

@media (max-width: 1023px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 768px;
    }

    .header_navbar {
        display: none;
    }

    .hero_content {
        background-image: url(../img/adaptive/main\ 768\ 430\ 375.webp);
        height: 950px;
        border-radius: 40px;
    }

    .hero_content_mobile {
        display: block;
    }

    .hero_none {
        display: none;
    }

    .about_none {
        display: none;
    }

    .hero_name {
        font-size: 115px;
        max-width: 100%;
    }

    .hero_descr {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .hero_button_main_wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 24px;
    }

    .hero_text {
        max-width: 500px;
        margin: 0;
    }

    .hero_image_card_wrapper,
    .hero_card_img {
        max-width: 292px;
        height: 191px;
    }

    .hero,
    .about,
    .prod,
    .form_back {
        padding-bottom: 168px;
    }

    .about_company_descr {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .about_advantages_img2 {
        display: none;
    }

    .about_story_card {
        height: 336px;
    }

    .about_advantages_text_wrapper {
        max-width: 680px;
        padding: 0;
    }

    .about_advantages_card {
        height: 192px;
        padding: 32px 24px;
    }

    .about_advantages_img3 {
        display: block;
        width: 100%;
        border-radius: 40px;
    }

    .about_team_cards_wrapper {
        flex-direction: column;
    }

    .about_team_card {
        height: 192px;
        max-width: 100%;
    }

    .about_team_img2 {
        display: block;
        height: 409px;
        border-radius: 40px;
        max-width: 100%;
    }

    .about_location_wrapper {
        flex-direction: column;
    }

    .about_location_img2 {
        height: 409px;
        max-width: 100%;
    }

    .about_location_img_wrapper {
        max-width: 100%;
    }

    .about_location_card {
        max-width: 100%;
        height: 192px;
    }

    .prod_navbar_wrapper_m {
        display: flex;
        margin-bottom: 16px;
        width: 100%;
    }

    .mobile_btn {
        display: flex;
        align-items: center;
        color: #aa2b2b;
        font-size: 20px;
    }

    .mobile_btn_left {
        margin-right: 16px;
    }

    .about_partners_card {
        height: 288px;
    }

    .mobile_btn_right {
        margin-left: 16px;
    }

    .prod_navbar_wrapper {
        display: none;
    }

    .button_right_wrapper {
        margin-left: auto;
    }

    .name_mastika,
    .name_gidroiz {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 106px;
        background-color: #283653;
        color: #fff;
        font-size: 32px;
        text-align: center;
        border-radius: 40px 40px 0 0;
    }

    .name_gidroiz {
        padding: 46px 20px;
    }

    .prod_names_wrapper_m {
        display: block;
    }

    .prod_settings_title {
        font-size: 32px;
    }

    .prod_content_mastika_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .prod_content_gidroiz_descr,
    .prod_content_descr_wrapper {
        max-width: 100%;
    }

    .prod_content_mastika_img_wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .prod_content_gidroiz_img_wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .form_back_descr {
        font-size: 32px;
    }

    .gidroiz_img,
    .mastika_img {
        width: 394px;
        height: 445px;
    }

    .prod_content_gidroiz_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .about_story_card_title,
    .about_company_descr_custom,
    .about_story_card_title,
    .about_advantages_title,
    .about_team_title,
    .about_product_title,
    .about_partners_title,
    .about_location_title {
        font-size: 32px;
    }

    .contacts_form {
        width: 728px;
    }

    .footer_top_wrapper {
        padding: 56px 24px 56px 24px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        justify-content: center;
        align-items: center;
    }

    .language_btn {
        padding: 16px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-menu {
        height: 48px;
    }

    .arrow {
        margin-left: 6px;
        padding-left: 0;
        width: 16px;
        height: 14px;
    }


    .footer_left_wrapper,
    .footer_middle_wrapper,
    .footer_right_wrapper {
        margin: 0;
        text-align: center;
    }

    .mobile_btn svg rect {
        transition: all 0.3s ease;
        fill: #aa2b2b;
        stroke: #aa2b2b;
    }

    .mobile_btn svg path {
        transition: fill 0.3s ease;
        fill: white;
    }

    .mobile_btn:hover svg rect {
        fill: transparent;
        stroke: #aa2b2b;
    }

    .mobile_btn:hover svg path {
        fill: #aa2b2b;
    }

    .mobile_btn {
        transition: color 0.3s ease;
    }

    .mobile_btn:hover {
        color: rgba(40, 54, 83, 0.5);
    }

    .custom_checkbox_text::before {
        right: 661px;
    }

    .custom_checkbox_text::after {
        right: 664px;
    }

    .form_back_main {
        gap: 32px;
    }

    /* burger */

    .header_nav_link_burger {
        color: #fff;
        font-size: 20px;
        font-family: "Montserrat";
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header_burger_wrapper {
        display: block;
    }

    .burger-menu {
        cursor: pointer;
    }

    .burger_close_btn_wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .cross path {
        transition: fill 0.3s ease-in-out;
    }

    .sidebar {
        position: fixed;
        top: 0;
        z-index: 1300;
        right: -100%;
        width: 374px;
        height: 100%;
        background: #283653;
        transition: right 0.3s ease;
        padding: 56px 25px 112px 25px;
        border-radius: 40px 0 0 40px;
    }

    #overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .sidebar.active {
        right: 0;
    }

    .burger_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .burger_contacts_wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .footer_social_link_burger {
        color: #fff;
    }

    .footer_bot_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer_bottom_docs_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_navbar {
        gap: 32px;
    }

    .header {
        padding-bottom: 8px;
    }

    .hero_name {
        margin-bottom: 4px;
    }

    .footer_img_logo,
    .footer_logo_link {
        width: 142px;
        height: 135px;
    }

    .footer_left_wrapper {
        gap: 16px;
    }

    .burger-menu {
        height: 56px;
    }

    .name_gidroiz {
        padding: 64px 20px;
    }

}

@media (max-width: 767px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 430px;
    }

    .burger-menu {
        height: 48px;
    }

    .hero_name {
        font-size: 66px;
        transform: translateX(0px);
    }

    .hero_descr {
        font-size: 13px;
        letter-spacing: -0.1px;
        text-align: center;
    }

    .language_menu li {
        font-size: 16px;
    }


    .main_logo_img,
    .header_logo_wrapper {
        width: 84px;
        height: 80px;
    }

    .about_company_descr {
        margin-bottom: 24px;
        letter-spacing: -1px;
    }

    .about_story_card_descr,
    .about_advantages_title,
    .about_team_descr {
        letter-spacing: 0px;
    }

    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .language_btn,
    .hero_text,
    .hero_btn_main,
    .about_story_card_descr,
    .about_advantages_descr,
    .about_team_descr,
    .about_prodution_descr,
    .about_partners_descr,
    .about_location_descr,
    .mobile_btn,
    .prod_content_descr,
    .prod_list,
    .tech-specs-table,
    .prod_gidroiz_text_use,
    .prod-btn,
    .mastika-table,
    .prod_terms_use1,
    .prod_terms_use2,
    .contacts__inp,
    .comment_inp,
    .form_btn,
    .footer_link,
    .footer_middle_text,
    .footer_social_link,
    .header_nav_link_burger {
        font-size: 16px;
    }

    .close_svg_burger {
        width: 48px;
        height: 48px;
    }

    .hero_content {
        height: 535px;
        border-radius: 20px;
    }

    .hero_image_card_wrapper,
    .hero_card_img {
        max-width: 161px;
        height: 105px;
        border-radius: 20px;
    }

    .hero_card_list {
        gap: 10px;
    }

    .hero_card_wrapper {
        padding-left: 10px;
        padding-bottom: 24px;
        gap: 10px;
    }

    .hero_btn,
    .svg_main_burger {
        width: 48px;
        height: 48px;
    }

    .header_nav_wrapper {
        gap: 10px;
    }

    .none_430 {
        display: none;
    }

    .hero_descr {
        margin-bottom: 16px;
    }

    .hero_button_main_wrapper {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .hero_content {
        margin-bottom: 16px;
    }

    .hero_btn_main {
        width: 100%;
        padding: 14px 24px;
        text-align: center;
    }

    .hero_text {
        text-align: center;
    }

    .hero,
    .about,
    .prod,
    .form_back {
        padding-bottom: 136px;
    }

    .section_title {
        font-size: 13px;
        margin-bottom: 32px;
    }

    .about_company_descr,
    .about_company_descr_custom,
    .about_story_card_title,
    .about_advantages_title,
    .about_team_title,
    .about_product_title,
    .about_partners_title,
    .about_location_title,
    .prod_settings_title {
        font-size: 22px;
    }

    .about_story_card {
        height: 100%;
        gap: 16px;
        padding: 24px 10px;
        border-radius: 20px;
    }

    .about_advantages_card {
        height: 100%;
        padding: 24px 10px;
        border-radius: 20px;
    }

    .about_advantages_text_wrapper {
        gap: 16px;
    }

    .about_advantages_img3 {
        width: 100%;
        height: 230px;
        border-radius: 20px;
    }

    .about_team_card {
        height: 100%;
        max-width: 100%;
        gap: 16px;
        padding: 24px 10px;
        border-radius: 20px;
    }

    .about_team_img2 {
        height: 230px;
        border-radius: 20px;
        max-width: 100%;
    }

    .about_production_wrapper {
        gap: 16px;
        padding: 24px 10px;
        border-radius: 20px;
    }

    .about_production_button_wrapper {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .prod_btn {
        width: 48px;
        height: 48px;
    }

    .about_partners_card {
        height: 100%;
    }

    .about_partners_card {
        gap: 10px;
        padding: 24px 10px;
        border-radius: 20px;
    }

    .about_location_img2 {
        height: 231px;
        border-radius: 20px;
        max-width: 100%;
    }

    .about_location_card {
        gap: 16px;
        padding: 24px 10px;
        border-radius: 20px;
        height: 100%;
    }

    .about_cards_first_wrapper,
    .about_cards_main_wrapper,
    .about_team_cards_wrapper,
    .about_cards_second_wrapper,
    .about_cards_third_wrapper,
    .about_location_wrapper {
        gap: 10px;
    }

    .mobile_btn_right {
        margin-left: 10px;
        width: 50px;
        height: 48px;
    }

    .mobile_btn_left {
        margin-right: 10px;
        width: 79px;
        height: 48px;
    }

    .mobile_btn_custom {
        width: 368px;
    }

    .name_mastika {
        padding: 24px 11px;
        font-size: 22px;
    }

    .name_gidroiz {
        padding: 37px 11px;
        font-size: 22px;
    }

    .prod-btn {
        display: flex;
        justify-content: space-between;
        padding: 14px 0 14px 70px;
        width: 100%;
        height: 48px;
        border-radius: 60px;
    }

    .prod-btn__icon {
        width: 48px;
        height: 48px;
    }

    .prod_content_mastika,
    .prod_content_gidroiz {
        border-radius: 0 0 20px 20px;
        padding: 24px 10px 8px 10px;
    }

    .gidroiz_img,
    .mastika_img {
        height: 441px;
        border-radius: 20px;
    }

    .about_partners_title {
        margin-bottom: 6px;
    }

    .prod_list {
        margin: 0;
        margin-bottom: 32px;
    }

    .mg0 {
        margin: 0;
    }

    .form_back_main {
        gap: 24px;
    }

    .form_btn {
        width: 100%;
        padding: 15px 24px;
    }

    .contacts__inp {
        padding: 0 0 4px 0;
    }

    .settings_svg_btn {
        width: 48px;
        height: 48px;
    }

    .mastika-table td {
        padding: 16px 10px;
        vertical-align: center;
        border-right: 1px solid #283653;
    }

    .mastika-table {
        border-radius: 20px;
    }

    .mastika-table th {
        padding: 16px 10px;
    }

    .form_back_descr {
        font-size: 22px;
    }

    .prod_content_gidroiz {
        background-color: #283653;
    }

    .prod_settings_title {
        white-space: wrap;
        width: 336px;
    }

    .tech-specs-table th {
        padding: 16px 10px;
    }

    .tech-specs-wrapper {
        background-color: rgba(210, 217, 232, 0.25);
        border-radius: 20px;
        overflow: hidden;
        transition: max-height 0.5s ease, padding 0.5s ease;
    }

    .tech-specs-table {
        border-radius: 20px;
        font-size: 16px;
    }

    .tech-specs-table td {
        padding: 16px 10px;
    }

    .contacts_form {
        width: 410px;
    }

    .custom_checkbox_text {
        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 13px;
    }

    .custom_checkbox_text::before {
        right: 371px;
    }

    .custom_checkbox_text::after {
        right: 374px;
    }

    .footer_bottom_link,
    .copyright {
        font-size: 13px;
        text-align: center;
    }

    .footer_img_logo,
    .footer_logo_link {
        width: 110px;
        height: 105px;
    }

    .footer_navbar {
        gap: 24px;
    }

    .footer_left_wrapper {
        gap: 10px;
    }

    .powered {
        font-size: 13px;
        text-align: center;
    }

    .sidebar {
        width: 220px;
        padding: 32px 10px 112px 10px;
        border-radius: 20px 0 0 20px;
    }

    .footer_social_link {
        font-size: 16px;
        white-space: wrap;
        text-align: center;
    }

    .contacts_form {
        border-radius: 20px;
        background-color: #d2d9e8;
        padding: 32px 10px;
    }

    .footer_content {
        border-radius: 20px 20px 0 0;
    }

    .footer_bottom_docs_wrapper {
        border-radius: 20px 20px 0 0;
    }

    .footer_top_wrapper {
        padding: 32px 10px;
        gap: 32px;
    }

    .footer_middle_wrapper {
        gap: 8px;
    }

    .footer_right_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .burger_list {
        gap: 32px;
    }

    .burger_contacts_wrapper {
        gap: 24px;
    }

    .footer_bottom_docs_wrapper {
        padding: 32px 10px 32px 10px;
    }

    .hero_button_main_wrapper_mob {
        display: flex;
    }

    .hero_button_main_wrapper {
        margin-bottom: 0px;
    }

    .name_mastika,
    .name_gidroiz {
        border-radius: 20px 20px 0 0;
    }

    .language_btn {
        padding: 14px 16px;
        min-width: 100%;
    }

    .language_menu {
        width: 80px;
    }

    .header_language_wrapper.active .language_menu {
        padding: 32px 0 16px 0px;
    }

    .table-wrapper {
        border-radius: 20px;
    }
}

@media (max-width: 429px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 375px;
    }

    .hero_name {
        font-size: 57px;
        text-align: center;
    }

    .hero_descr {
        font-size: 13px;
        text-align: center;
    }

    .hero_content {
        height: 463px;
    }

    .hero_image_card_wrapper,
    .hero_card_img {
        max-width: 133px;
        height: 87px;
    }

    .contacts_form {
        width: 100%;
    }

    .custom_checkbox_text {
        margin-left: 21px;
    }

    .custom_checkbox_text::before {
        right: 317px;
    }

    .custom_checkbox_text::after {
        right: 319px;
    }

    .hero_btn_main,
    .form_btn {
        padding: 14px 24px;
    }

    .prod-btn {
        padding: 14px 0 14px 32px;
    }

    .about_advantages_img3,
    .about_team_img2,
    .about_location_img2 {
        height: 199px;
    }

    .gidroiz_img,
    .mastika_img {
        height: 378px;
    }

    .mastika-table {
        font-size: 15px;
    }

    .hero,
    .about,
    .prod,
    .form_back {
        padding-bottom: 120px;
    }

    .tech-specs-table {
        font-size: 15px;
    }

    .about_advantages_img3,
    .about_team_img2,
    .about_location_img2 {
        width: 100%;
        height: 199px;
    }

    .hero_card_wrapper {
        padding-bottom: 16px;
    }

    .about_company_descr {
        letter-spacing: 0px;
    }

    .name_gidroiz {
        padding: 49px 11px;
        font-size: 22px;
    }
}

@media (max-width: 374px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
        max-width: 320px;
    }

    .hero_image_card_wrapper,
    .hero_card_img {
        max-width: 107px;
        height: 77px;
    }

    .hero_name {
        font-size: 49px;
        text-align: center;
    }

    .hero_content {
        height: 388px;
    }

    .about_advantages_img3,
    .about_team_img2,
    .about_location_img2 {
        height: 175px;
    }

    .name_gidroiz {
        padding: 62px 11px;
    }

    .mobile_btn_custom {
        width: 320px;
    }

    .gidroiz_img,
    .mastika_img {
        height: 347px;
    }

    .mastika-table td {
        padding: 16px 4px;
    }

    .mastika-table th {
        padding: 16px 4px;
    }

    .prod-btn {
        text-align: center;
    }

    .custom_checkbox_text {
        font-size: 11px;
    }

    .custom_checkbox_text::before {
        right: 272px;
    }

    .custom_checkbox_text::after {
        right: 275px;
    }

    .modal-content {
        max-width: 275px;
    }

    .prod-btn__icon {
        width: 61px;
        height: 48px;
    }
}