/**************************************/

@font-face {
	font-family: 'PragatiNarrow';
	src: url('../fonts/PragatiNarrow-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-200-normal.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-300-normal.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-400-normal.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-500-normal.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-600-normal.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-700-normal.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-800-normal.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/source-sans-3-cyrillic-900-normal.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


/**************************************/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
	transition: 0.3s ease-in-out;
}

img {
	max-width: 100%;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(210, 217, 232, 0.6);
	backdrop-filter: blur(5px);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	z-index: 1200;
}

#overlay.active {
	opacity: 1;
	visibility: visible;
}

body {
	font-family: 'SourceSans3';
	font-weight: 370;
	background-color: #0F0F0F;
}

/* glob */

p {
	line-height: 120%;
}


.list--reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header_burger_wrapper {
	display: none;
}

.sidebar {
	display: none;
}

.btn-reset {
	padding: 0;
	border: 0;
	border-color: transparent;
	cursor: pointer;
	background-color: transparent;
	transition: .3s ease-in-out;
}

.container {
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 24px;
	padding-left: 24px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	left: -9999px;
}

/* Hover focus active */

.standart_btn:hover {
	outline: 1px solid #B91F1F;
	background: #B91F1F;


}

/* main */

.header_logo_img {
	width: 68px;
	height: 71px;
}

.header_content {
	padding: 16px 0;
	border-bottom: 1px solid #F7F7F7;
}

.header_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_nav_link {
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	text-transform: uppercase;
}

.header_nav_list {
	display: flex;
	gap: 56px;
}

.standart_btn {
	padding: 13px 24px;
	outline: 1px solid #F7F7F7;
	transition: .3s ease-in-out;

}

.header_link_call {
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	text-transform: uppercase;
}

.book_table_link {
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	text-transform: uppercase;
}

.header_right {
	display: flex;
	gap: 56px;
	align-items: center;

}


.header_nav_link {
	position: relative;
	text-decoration: none;
	color: #F7F7F7;
	padding: 4px 0;
}

.header_nav_link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background-color: #F7F7F7;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.35s ease;
}

.header_nav_link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.hero_title {
	margin: 0;
	margin-bottom: 8px;
	max-width: 902px;
	color: #F7F7F7;
	text-align: center;
	font-family: 'PragatiNarrow';
	font-size: 240px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%;
	/* 192px */
	letter-spacing: -4.8px;
	text-transform: uppercase;
}

.hero_title_custom {
	margin: 0;
	color: #B91F1F;
	font-family: 'PragatiNarrow';
	font-size: 240px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%;
	letter-spacing: -4.8px;
	text-transform: uppercase;
}

.hero_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero_descr {
	margin: 0;
	margin-bottom: 37px;
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	/* 23.4px */
}

.hero {
	height: 1057px;
	padding-top: 287px;
}

.about {
	padding-top: 124px;
}

.about_title {
	margin: 0;
	margin-bottom: 56px;
	color: #F7F7F7;
	font-size: 18px;
	font-weight: 600;
	line-height: 130%;
	/* 23.4px */
}

.about_top_wrapper {
	display: flex;
	gap: 24px;
	margin-bottom: 48px;
}

.about_top_text_wrapper {
	flex: 0 0 450px;
}

.about_text {
	margin: 0;
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	/* 23.4px */
	max-width: 351px;

}

.about_top_descr {
	margin: 0;
	font-family: 'SourceSans3';
	color: #F7F7F7;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

.red_custom {
	font-family: 'SourceSans3';
	color: #B91F1F;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

.about_bottom_wrapper {
	display: flex;
	gap: 24px;
}

.about_text_bottom {
	margin: 0;
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	/* 23.4px */
}

.about_bottom_text_wrapper {
	flex: 0 0 450px;
	position: relative;
	height: 526px;
}

.about_gallery_wrapper {
	display: flex;
	gap: 24px;
	overflow-x: auto;
	scroll-behavior: smooth;
	width: 100%;
}

.about_gallery_wrapper::-webkit-scrollbar {
	height: 8px;
}

.about_gallery_wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.about_gallery_img {
	flex-shrink: 0;
	width: 450px;
	height: 526px;
}

.about_gallery_img_custom {
	width: 923px;
	height: 526px;
}

.about_element_wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
}

.main {
	padding-bottom: 124px;

	background-image: url("../img/main_photo.webp");
	background-repeat: no-repeat;

	/* Масштабирование */
	background-size: cover;
	/* полностью покрывает блок, сохраняя пропорции */
	/* или */
	/* background-size: 150%; */
	/* увеличивает изображение на 150% */

	/* Позиционирование */
	background-position: center top;
	/* по горизонтали центр, по вертикали верх */
	/* Можно: left bottom, right center, 30% 40%, и т.д. */
}