/**************************************/

@font-face {
	font-family: 'PragatiNarrow';
	src: url('../fonts/PragatiNarrow-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'SourceSans3';
	src: url('../fonts/Source\ Sans\ 3.woff2') format('woff2');
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}



/**************************************/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
	transition: 0.3s ease-in-out;
}

img {
	max-width: 100%;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(210, 217, 232, 0.6);
	backdrop-filter: blur(5px);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	z-index: 1200;
}

#overlay.active {
	opacity: 1;
	visibility: visible;
}

body {
	font-family: 'SourceSans3';
	background-color: #0F0F0F;
}

/* glob */

p {
	line-height: 120%;
}


.list--reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header_burger_wrapper {
	display: none;
}

.sidebar {
	display: none;
}

.btn-reset {
	padding: 0;
	border: 0;
	border-color: transparent;
	cursor: pointer;
	background-color: transparent;
	transition: .3s ease-in-out;
}

.container {
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 24px;
	padding-left: 24px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	left: -9999px;
}

/* Hover focus active */

.standart_btn:hover {
	outline: 1px solid #B91F1F;
	background: #B91F1F;
}

.contacts_tel_link:hover {
	color: #B91F1F;
}

.contacts_inst_link:hover {
	color: #B91F1F;
}

.contacts_mail_link:hover {
	color: #B91F1F;
}

/* main */

.header_logo_img {
	width: 68px;
	height: 71px;
}

.header_content {
	padding: 16px 0;
	border-bottom: 1px solid #F7F7F7;
}

.header_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_nav_link {
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	text-transform: uppercase;
}

.header_nav_list {
	display: flex;
	gap: 56px;
}

.standart_btn {
	padding: 13px 24px;
	outline: 1px solid #F7F7F7;
	transition: .3s ease-in-out;

}

.header_link_call {
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	text-transform: uppercase;
}

.book_table_link {
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	text-transform: uppercase;
}

.header_right {
	display: flex;
	gap: 56px;
	align-items: center;

}


.header_nav_link {
	position: relative;
	text-decoration: none;
	color: #F7F7F7;
	padding: 4px 0;
}

.header_nav_link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background-color: #F7F7F7;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.35s ease;
}

.header_nav_link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.hero_title {
	margin: 0;
	margin-bottom: 8px;
	max-width: 902px;
	color: #F7F7F7;
	text-align: center;
	font-family: 'PragatiNarrow';
	font-size: 240px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%;
	/* 192px */
	letter-spacing: -4.8px;
	text-transform: uppercase;
}

.hero_title_custom {
	margin: 0;
	color: #B91F1F;
	font-family: 'PragatiNarrow';
	font-size: 240px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%;
	letter-spacing: -4.8px;
	text-transform: uppercase;
}

.hero_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero_descr {
	margin: 0;
	margin-bottom: 37px;
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	/* 23.4px */
}

.hero {
	height: 1057px;
	padding-top: 287px;
}

.about {
	padding-top: 124px;
}

.section_title {
	margin: 0;
	margin-bottom: 56px;
	color: #F7F7F7;
	font-size: 18px;
	font-weight: 600;
	line-height: 130%;
	/* 23.4px */
}

.about_top_wrapper {
	display: flex;
	gap: 24px;
	margin-bottom: 48px;
}

.about_top_text_wrapper {
	flex: 0 0 450px;
}

.about_text {
	margin: 0;
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	/* 23.4px */
	max-width: 351px;

}

.about_top_descr {
	margin: 0;
	font-family: 'SourceSans3';
	color: #F7F7F7;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

.red_custom {
	font-family: 'SourceSans3';
	color: #B91F1F;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

.about_bottom_wrapper {
	display: flex;
	gap: 24px;
}

.about_text_bottom {
	margin: 0;
	color: #F7F7F7;
	font-size: 18px;
	line-height: 130%;
	/* 23.4px */
}

.about_bottom_text_wrapper {
	flex: 0 0 450px;
	position: relative;
	height: 526px;
}

.about_gallery_wrapper {
	display: flex;
	gap: 24px;
	overflow-x: auto;
	scroll-behavior: smooth;
	width: 100%;
}

.about_gallery_wrapper::-webkit-scrollbar {
	height: 8px;
}

.about_gallery_wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.about_gallery_img {
	flex-shrink: 0;
	width: 450px;
	height: 526px;
}

.about_gallery_img_custom {
	width: 923px;
	height: 526px;
}

.about_element_wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
}

.main {
	padding-bottom: 124px;

	background-image: url("../img/main_photo.webp");
	background-repeat: no-repeat;
	background-size: 139%;

	background-position: 50% 98%;
	/* по горизонтали центр, по вертикали верх */
	/* Можно: left bottom, right center, 30% 40%, и т.д. */
}

/* menu */

.menu {
	padding-top: 124px;
	padding-bottom: 124px;
	background-color: #E0E0E0;

}

.menu_descr {
	margin: 0;
	color: #1C1C1C;
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
	max-width: 450px;
	margin-bottom: 24px;
}

.menu_title {
	color: #1C1C1C;
}

.menu_descr_btn {
	color: #1C1C1C;
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
	/* 23.4px */
	outline: 1px solid #1C1C1C;
	margin-bottom: 120px;
}

.menu_descr_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.menu_main_wrapper {
	display: flex;
	gap: 24px;
}

.menu_left {
	max-width: 924px;
	flex: 1;
	height: 912px;
}

.menu_right {
	max-width: 924px;
	flex: 1;
	height: 912px;
}

.menu_list_link {
	color: #1C1C1C;
	font-size: 32px;
	font-weight: 500;
	line-height: 120%;
	margin-bottom: 4px;
}

.menu_item_descr {
	margin: 0;
	color: #1C1C1C;
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
}

.menu_list_ietem {
	padding: 16px 0;
	border-top: 1px solid #8D8D8D;
	border-bottom: 1px solid #8D8D8D;
}


/* ===== вторая галерея (вертикальная с peek) ===== */
.menu_gallery_wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	/* расстояние между фото */
	overflow-y: hidden;
	/* скрываем лишнее */
	height: 912px;
	/* высота контейнера */
	width: 100%;
	position: relative;
}

.menu_image {
	flex: 0 0 auto;
	width: 100%;
	/* ширина картинки = контейнер */
	height: 888px;
	/* чуть меньше контейнера, peek снизу */
	object-fit: cover;
	cursor: pointer;
	border-radius: 8px;
	/* опционально */
	transition: transform 0.3s;
	/* можно добавить эффект масштаба */
}

/* меню справа */
.menu_list_link {
	cursor: pointer;
	transition: color 0.3s;
}

.menu_list_link.active {
	color: #B91F1F;
}


/* booking */

.booking {
	padding-top: 297px;
	padding-bottom: 297px;
	background-image: url("../img/reservation_1.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.booking_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.booking_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 924px;
	gap: 56px;
}

.booking_title {
	margin: 0;
	color: #F7F7F7;
	font-size: 48px;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}

/* стили для формы  */

/* Основной контейнер формы */
.booking_form {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;

}

/* Общие стили для всех input и textarea */
.booking_form_input,
.booking_form_textarea {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #8D8D8D;
	padding: 8px 0;
	width: 292px;
	color: #F7F7F7;
	/* цвет текста при вводе */
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
	outline: none;
	/* убираем стандартный фокус */
}

/* textarea отдельный размер */
.booking_form_textarea {
	width: 100%;
	height: 140px;
	resize: none;
	/* запрет на изменение размера пользователем */
}

/* select (адрес ресторана) */
.booking_form_input[type="select"],
.booking_form_input select {
	width: 292px;
	background-color: transparent;
	border-bottom: 1px solid #8D8D8D;
	color: #F7F7F7;
	padding: 8px 0;
	appearance: none;
	/* убираем стандартную стрелку */
}

/* Плейсхолдеры по умолчанию */
.booking_form_input::placeholder,
.booking_form_textarea::placeholder {
	color: #8D8D8D;
	opacity: 1;
	/* отключаем полупрозрачность */
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
}

/* Плейсхолдеры при фокусе */
.booking_form_input:focus::placeholder,
.booking_form_textarea:focus::placeholder {
	color: #F7F7F7;
}

/* Плейсхолдеры для select (браузер-зависимо) */
.booking_form_input:invalid {
	color: #8D8D8D;
	/* серый текст для пустого select */
}

/* Цвет текста при вводе */
.booking_form_input:focus,
.booking_form_textarea:focus {
	color: #F7F7F7;
}

/* Кнопка отправки */
.booking_form_button {
	padding: 12px 24px;
	background-color: #8D8D8D;
	color: #F7F7F7;
	border: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	transition: background-color 0.3s ease;
}

.booking_form_button:hover {
	background-color: #F7F7F7;
	color: #8D8D8D;
}


.custom_checkbox {
	user-select: none;
	cursor: pointer;
	margin-bottom: 0px;
}

.custom_checkbox_input {
	position: absolute;
	appearance: none;
}

.custom_checkbox_text {
	margin-top: -1px;
	margin-bottom: 24px;
	position: relative;
	display: flex;
	margin-left: 27px;
	color: #F7F7F7;
	text-align: center;
	font-size: 18px;
	line-height: 120%;
	text-decoration: underline;
	text-decoration-color: #F7F7F7;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

.custom_checkbox_text::before {
	content: "";
	position: absolute;
	right: 905px;
	top: 43%;
	transform: translateY(-38%);
	width: 18px;
	height: 18px;
	border: 1px solid #F7F7F7;
}

.custom_checkbox_text::after {
	content: "";
	position: absolute;
	right: 908px;
	top: 57%;
	width: 12px;
	height: 15px;
	background-image: url("../img/Vector.svg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	transform: translateY(-50%);
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.custom_checkbox_input:checked+.custom_checkbox_text::after {
	opacity: 1;
}

.custom_checkbox_input:checked+.custom_checkbox_text::before {
	border-color: #F7F7F7;
}

.custom_checkbox_input:checked+.custom_checkbox_text::after {
	opacity: 1;
}

.custom_checkbox:hover .custom_checkbox_text::before {
	border-color: #F7F7F7;
	transition: 0.3s ease-in-out;
}

.custom_checkbox_input:focus+.custom_checkbox_text {
	color: #F7F7F7;
}


.contacts_submit {
	position: relative;
}

.form_btn {
	color: #F7F7F7;
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
	text-transform: uppercase;
}

.form_attention {
	color: #F7F7F7;
	font-size: 18px;
	font-style: normal;
	font-weight: 370;
	line-height: 130%;
	/* 23.4px */
}


/* Цвет текста при вводе */
.booking_form_input:focus,
.booking_form_textarea:focus {
	color: #F7F7F7;
	border-bottom: 1px solid #F7F7F7;
	/* активное состояние */
}

/* Для select при фокусе */
.booking_form_input:focus select {
	border-bottom: 1px solid #F7F7F7;
}

/* Плейсхолдеры для select (браузер-зависимо) */
.booking_form_input:invalid {
	color: #8D8D8D;
	/* серый текст для пустого select */
}


/* contacts */

.contacts {
	padding-top: 124px;
	padding-bottom: 124px;
	background: #E0E0E0;
}

.contacts_top_title {
	margin: 0;
	margin-bottom: 24px;
	color: #1C1C1C;
	font-size: 48px;
	font-weight: 600;
	line-height: 120%;
	/* 57.6px */
	text-transform: uppercase;
}

.contacts_title {
	color: #1C1C1C;
}

.contacts_top {
	display: flex;
}

.contacts_top_left {
	max-width: 924px;
	flex: 1;
}

.contacts_top_right {
	max-width: 924px;
	flex: 1;
}

.contacts_top_descr {
	max-width: 450px;
	margin: 0;
	color: #0F0F0F;
	font-size: 18px;
	font-style: normal;
	font-weight: 370;
	line-height: 130%;
	/* 23.4px */
}

.contacts_top_right {
	display: flex;
	gap: 24px;
}

.contacts_img {
	max-width: 450px;
	object-fit: cover;
	height: 448px;
}

.contacts_bottom_item {
	padding: 23px 0;
	display: flex;
	border-bottom: 1px solid #8D8D8D;
	align-items: center;
}

.contacts_main_wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


.contacts_bottom_left {
	color: #1C1C1C;
	font-size: 18px;
	font-style: normal;
	font-weight: 370;
	line-height: 130%;
	/* 23.4px */
	flex: 1;
}

.contacts_bottom_right {
	flex: 1;
	color: #1C1C1C;
	font-size: 32px;
	font-weight: 500;
	line-height: 120%;
	/* 38.4px */
}

.contacts_tel_link,
.contacts_inst_link,
.contacts_mail_link {
	color: #1C1C1C;
	font-size: 32px;
	font-weight: 500;
	line-height: 120%;
}

.text_inst {
	margin-left: 384px;
	color: #1C1C1C;
	font-size: 18px;
	font-style: normal;
	font-weight: 370;
	line-height: 130%;
}



/* footer */


.footer {
	padding-top: 112px;
	padding-bottom: 56px;
}

.footer_title_custom {
	color: #B91F1F;
	font-family: 'PragatiNarrow';
	font-size: 180px;
	font-style: normal;
	font-weight: 400;
	line-height: 86%;
	letter-spacing: -3.6px;
	text-transform: uppercase;
}

.footer_title {
	margin: 0;
	color: #F7F7F7;
	font-family: 'PragatiNarrow';
	font-size: 180px;
	font-style: normal;
	font-weight: 400;
	line-height: 86%;
	/* 154.8px */
	letter-spacing: -3.6px;
	text-transform: uppercase;
	max-width: 676px;
}

.footer_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_title_nav {
	margin: 0;
	margin-bottom: 24px;
	color: #F7F7F7;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 38.4px */
}

.footer_middle {
	display: flex;
	flex-direction: column;
}

.footer_nav_list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


.footer_item_link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background-color: #F7F7F7;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.35s ease;
}

.footer_item_link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.footer_item_link {
	color: #F7F7F7;
	font-size: 18px;
	font-style: normal;
	font-weight: 370;
	line-height: 130%;
	position: relative;
	text-decoration: none;
	padding: 4px 0;
}

.footer_btn_link {
	color: #F7F7F7;
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
	text-transform: uppercase;
	margin-bottom: 24px;
	/* 23.4px */
}

.footer_right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 450px;
}

.footer_right_descr {
	color: #F7F7F7;
	font-size: 18px;
	font-weight: 370;
	line-height: 130%;
	/* 23.4px */
}