@media (max-width: 1919px) {
    .container {
        max-width: 1440px;
    }

    .fransh_title,
    .adv_title,
    .concept_title_side,
    .package_sect_title,
    .messengers_subtitle {
        font-size: 34px;
    }

    .fransh_descr,
    .package_sect_item,
    .adv_descr,
    .concept_title,
    .concept_descr,
    .concept_descr_custom,
    .concept_item_descr,
    .concept_item_link,
    .kitchen_item,
    .concept_brand_descr,
    .rating_descr,
    .package_title,
    .package_sect_descr,
    .messengers_title,
    .messengers_descr,
    .messengers_descr_sub {
        font-size: 16px;
    }

    .fransh_descr {
        max-width: 609px;
    }

    .fransh_descr_second {
        max-width: 351px;
        margin-bottom: 24px;
    }

    .messengers_descr {
        margin-bottom: 40px;
        max-width: 330px;
    }

    .hero_title {
        font-size: 216px;
        transform: translateY(35px);
    }

    .hero_title_custom {
        font-size: 216px;
    }

    .container {
        max-width: 1440px;
    }

    .adv_top {
        height: 326px;
    }

    .adv_top_left {
        gap: 34px;
    }

    .adv_descr {
        max-width: 330px;
    }

    .adv_top_wrapper_custom {
        padding: 0 24px;
    }

    .adv_top_wrapper_text,
    .adv_top_wrapper_text_custom,
    .concept_item_title,
    .package_sect_descr_second_title {
        font-size: 24px;
    }

    .adv_top_wrapper {
        max-width: 330px;
    }

    .adv_bottom {
        height: 330px;
    }

    .concept_wrapper_first {
        padding-bottom: 40px;
    }

    .concept_img_side {
        width: 330px;
        height: 326px;
    }

    .concept_item {
        padding: 8px 0;
    }

    .concept_wrapper_second,
    .concept_wrapper_third,
    .concept_wrapper_four {
        padding: 40px 0;
    }

    .concept_left_wrapper_custom {
        height: 616px;
    }

    .concept_rating_box {
        gap: 15px;
    }

    .concept_wrapper_four {
        border-bottom: none;
        padding-bottom: 0;
    }

    .fransh_wrapper {
        margin-bottom: 230px;
    }

    .yandex_svg {
        width: 218px;
        height: 36px;
    }



    .guru_svg {
        width: 237px;
        height: 36px;
    }

    .to_mesto_svg {
        width: 127px;
        height: 36px;
    }

}

@media (max-width: 1439px) {
    .container {
        max-width: 1280px;
    }

    .fransh_descr_second {
        max-width: 290px;
        margin-bottom: 24px;
    }

    .fransh_wrapper {
        margin-bottom: 191px;
    }

    .hero_title {
        font-size: 190px;
        transform: translateY(29px);
    }

    .hero_title_custom {
        font-size: 190px;
    }

    .adv_bottom {
        height: 287px;
    }

    .adv_descr {
        max-width: 100%;
    }

    .adv_top_left {
        gap: 0;
        justify-content: space-between;
    }

    .adv_top_wrapper_custom {
        padding: 0 22px;
    }

    .adv_title {
        font-size: 33px;
    }

    .adv_top {
        height: 287px;
    }

    .adv_top_wrapper {
        max-width: 290px;
    }

    .adv_top_left {
        gap: 4px;
    }

    .adv_top_wrapper_text,
    .adv_top_wrapper_text_custom,
    .concept_item_title,
    .package_sect_descr_second_title {
        font-size: 22px;
    }

    .concept_img_side {
        width: 290px;
        height: 287px;
    }

    .concept_left_wrapper_custom {
        height: 672px;
    }

    .messengers_descr {
        max-width: 290px;
    }

    .yandex_svg {
        width: 182px;
        height: 30px;
    }



    .guru_svg {
        width: 197px;
        height: 30px;
    }

    .to_mesto_svg {
        width: 106px;
        height: 30px;
    }
}


@media (max-width: 1279px) {
    .hero_title {
        font-size: 152px;
        transform: translateY(24px);
    }

    .adv_content {
        gap: 16px;
    }

    .adv_bottom {
        gap: 16px;
    }


    .hero_title_custom {
        font-size: 152px;
    }

    .fransh_wrapper {
        margin-bottom: 165px;
    }

    .fransh_descr {
        max-width: 480px;
    }

    .fransh_descr_second {
        max-width: 232px;
    }

    .fransh_title,
    .adv_title,
    .concept_title_side,
    .package_sect_title,
    .messengers_subtitle {
        font-size: 30px;
    }

    .adv_top {
        height: 100%;
        flex-direction: column;
    }

    .adv_bottom {
        height: 100%;
        flex-direction: column;
    }


    .adv_descr {
        max-width: 100%;
    }

    .adv_top_left {
        gap: 24px;
    }

    .adv_top_right {
        gap: 16px;
    }

    .adv_bottom_left {
        gap: 16px;
    }

    .adv_bottom_right {
        gap: 16px;
    }

    .adv_top {
        gap: 40px;

    }

    .adv_top_wrapper {
        max-width: 480px;
        height: 477px;
    }

    .adv_top_wrapper_img {
        width: 480px;
        height: 100%;
        object-fit: cover;
    }

    .concept_img_side {
        width: 232px;
        height: 230px;
    }

    .concept_left_wrapper_custom {
        height: 749px;
    }

    .concept_wrapper_second,
    .concept_wrapper_third,
    .concept_wrapper_four {
        gap: 16px;
    }

    .package_sect_wrapper {
        gap: 16px;

    }

    .messengers {
        padding-top: 255px;
        padding-bottom: 255px;

    }

    .messengers_subtitle {
        max-width: 480px;
    }

    .messengers_descr {
        max-width: 232px;
    }

    .adv_top_wrapper_custom {
        padding: 0 70px;
    }

    .yandex_svg {
        width: 145px;
        height: 24px;
    }



    .guru_svg {
        width: 158px;
        height: 24px;
    }

    .to_mesto_svg {
        width: 86px;
        height: 24px;
    }

    .concept_rating_box {
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .yandex,
    .rest_guru,
    .to_mesto {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: none;
        align-items: flex-start;
        justify-content: center;
        max-width: 100%;
    }

    .rating_descr {
        text-align: left;
        max-width: 100%;
    }



}


@media (max-width: 1023px) {

    .container {
        max-width: 768px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .hero_title {
        font-size: 152px;
        transform: translateY(24px);
    }

    .hero_title_custom {
        font-size: 152px;
    }

    .hero_title {
        display: none;
    }

    .adv_content {
        gap: 8px;
    }

    .adv_bottom {
        gap: 8px;
    }

    .hero_title_mobile {
        display: block;
        max-width: 742px;
        position: relative;
        margin: 0;
        color: #E0E0E0;
        font-family: 'PragatiNarrow';
        font-size: 194px;
        font-style: normal;
        font-weight: 400;
        /* 232px */
        letter-spacing: -3.88px;
        text-transform: uppercase;
        transform: translateY(161px);
        z-index: 90;
        line-height: 80%;
        text-align: center;
    }

    .hero_title_custom {
        font-size: 194px;
    }

    .hero_title_mobile_custom {
        color: #1C1C1C;
        font-family: 'PragatiNarrow';
        font-size: 194px;
        font-style: normal;
        font-weight: 400;
        line-height: 80%;
        letter-spacing: -3.88px;
        text-transform: uppercase;
    }

    .fransh_title,
    .adv_title,
    .concept_title_side,
    .package_sect_title,
    .messengers_subtitle {
        font-size: 26px;
    }

    .fransh_descr,
    .adv_descr,
    .concept_title,
    .concept_descr,
    .concept_descr_custom,
    .concept_item_descr,
    .concept_item_link,
    .kitchen_item,
    .concept_brand_descr,
    .rating_descr,
    .package_title,
    .package_sect_descr,
    .messengers_title,
    .messengers_descr,
    .messengers_descr_sub {
        font-size: 14px;
    }

    .fransh_descr {
        margin-bottom: 24px;
    }

    .fransh_descr {
        max-width: 364px;
    }

    .fransh_descr_second {
        max-width: 240px;
    }

    .adv {
        padding-top: 203px;
        padding-bottom: 100px;
    }

    .adv_title {
        max-width: 488px;
    }

    .adv_top {
        gap: 24px;
    }

    .adv_top_right {
        gap: 8px;
    }

    .adv_bottom_left {
        gap: 8px;
    }

    .adv_bottom_right {
        gap: 8px;
    }

    .adv_top_wrapper {
        max-width: 364px;
        height: 362px;
    }

    .adv_top_wrapper_custom {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 59px;
    }

    .concept {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .concept_wrapper_first {
        padding-bottom: 24px;
        flex-direction: column;
        gap: 48px;
    }

    .concept_wrapper_second,
    .concept_wrapper_third,
    .concept_wrapper_four {
        padding: 24px 0;
        gap: 0;
    }

    .concept_wrapper_second {
        flex-direction: column;
    }

    .concept_left_wrapper_custom {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .concept_img_side {
        width: 178px;
        height: 176px;
    }


    .concept_images_wrapper {
        gap: 8px;
    }

    .concept_left_top {
        flex: 1;
    }

    .concept_left_bottom {
        flex: 1;
    }

    .adv_top_wrapper_text,
    .adv_top_wrapper_text_custom,
    .concept_item_title,
    .package_sect_descr_second_title {
        font-size: 20px;
    }

    .concept_title_side {
        max-width: 350px;
    }

    .concept_rating_box {
        gap: 24px;
        flex-direction: column;
        align-items: flex-start;
    }

    .yandex {
        max-width: 100%;

    }

    .rest_guru {
        max-width: 100%;
    }

    .to_mesto {
        max-width: 100%;
    }


    .yandex_svg {
        width: 191px;
        height: 32px;
    }

    .guru_svg {
        width: 210px;
        height: 32px;
    }

    .to_mesto_svg {
        width: 113px;
        height: 32px;
    }

    .yandex,
    .rest_guru,
    .to_mesto {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        align-items: flex-start;
    }

    .rating_descr {
        text-align: left;
    }

    .package {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #E0E0E0;
    }

    .package_sect_wrapper {
        gap: 8px;
    }

    .package_sect_wrapper {
        padding: 24px 0;
    }

    .first {
        padding-top: 0;
    }

    .package_title {

        margin-bottom: 48px;

    }

    .package_sect_text_wrapper_last {
        padding-bottom: 0;
    }

    .package_sect_title {
        max-width: 350px;
    }

    .messengers {
        padding-top: 217px;
        padding-bottom: 217px;
    }

    .messengers_title {
        margin-bottom: 48px;

    }

    .messengers_descr {
        margin-bottom: 24px;
        max-width: 348px;
    }

    .messengers_descr_sub {
        margin-bottom: 16px;
    }

    .messengers_wrapper {
        gap: 8px;
    }

    .fransh_descr {
        margin-bottom: 16px;
    }

    .standart_btn {
        padding: 12px 26px;
        transition: .3s ease-in-out;
    }

    .fransh_wrapper {
        margin-bottom: 75px;
    }

    .messengers_subtitle {
        max-width: 448px;
    }

    .messengers_subtitle {
        margin: 0;
        margin-bottom: 16px;
    }


}


@media (max-width: 767px) {
    .container {
        max-width: 430px;
    }

    .adv_title {
        max-width: 297px;
    }

    .hero_title_mobile {
        font-size: 106px;
        letter-spacing: -2.2px;
        transform: translateY(86px);

    }

    .hero_title_custom {
        font-size: 106px;
        letter-spacing: -2.2px;
    }

    .hero_title_mobile_custom {
        font-size: 106px;
        letter-spacing: -2.2px;
    }

    .adv_top_wrapper {
        max-width: 195px;
        height: 194px;
    }

    .concept_img_side {
        width: 195px;
        height: 193px;
    }

    .concept_left_wrapper_custom {
        flex-direction: column;
    }

    .messengers_wrapper {
        flex-direction: column;
        gap: 16px;
    }

    .footer_btn_link {
        margin-bottom: 0;
        text-align: center;
    }

    .fransh_title,
    .adv_title,
    .concept_title_side,
    .package_sect_title,
    .messengers_subtitle {
        font-size: 22px;
    }

    .fransh_descr {
        max-width: 100%;
    }

    .fransh_descr_second {
        margin-bottom: 16px;
    }

    .fransh_wrapper {
        margin-bottom: 231px;
    }

    .main {
        background-image: url(../img/main_franchise_430.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .messengers {
        padding-top: 273px;
        padding-bottom: 273px;
        background-image: url(../img/contact_us_franchise_430_375.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .adv {
        padding-top: 128px;
        padding-bottom: 100px;
    }

    .adv_top {
        gap: 16px;
    }

    .concept_wrapper_first {

        gap: 40px;
    }

    .concept_images_wrapper {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .adv_top_wrapper_text,
    .adv_top_wrapper_text_custom,
    .package_sect_descr_second_title {
        font-size: 14px;
    }

    .adv_top_wrapper_custom {
        padding: 0 12px;
    }

    .concept_wrapper_third,
    .concept_wrapper_four {
        gap: 16px;
        flex-direction: column;
    }

    .concept_kitchen_wrapper {
        align-items: center;
    }

    .mobile_btn {
        width: 100%;
        text-align: center;
    }

    .concept_kitchen_wrapper {
        gap: 16px;

    }

    .concept_brand_wrapper {
        gap: 24px;
    }

    .package_sect_wrapper {
        flex-direction: column;
    }

    .package_title {
        margin-bottom: 40px;
    }

    .package_sect_wrapper {
        gap: 16px;
    }

    .messengers {
        padding-top: 252px;
        padding-bottom: 252px;
    }

    .messengers_subtitle {
        margin-bottom: 16px;
    }

    .adv_top_wrapper_text,
    .adv_top_wrapper_text_custom,
    .concept_item_title,
    .package_sect_descr_second_title {
        font-size: 18px;
    }

    .concept_title_side {
        max-width: 100%;
    }

    .yandex_svg {
        width: 145px;
        height: 24px;
    }

    .guru_svg {
        width: 158px;
        height: 24px;
    }

    .to_mesto_svg {
        width: 87px;
        height: 24px;
    }

    .concept_wrapper_four {
        padding-bottom: 0;
    }

    .fransh_descr,
    .package_sect_item,
    .adv_descr,
    .concept_title,
    .concept_descr,
    .concept_descr_custom,
    .concept_item_descr,
    .concept_item_link,
    .kitchen_item,
    .concept_brand_descr,
    .rating_descr,
    .package_title,
    .package_sect_descr,
    .messengers_title,
    .messengers_descr,
    .messengers_descr_sub {
        font-size: 14px;
    }

    .messengers_title {
        margin-bottom: 40px;
    }

    .messengers_descr {
        max-width: 100%;
    }

    .mb {
        margin-bottom: 16px;
    }

    .adv_top_wrapper_text,
    .adv_top_wrapper_text_custom {
        font-size: 14px;
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 375px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .hero_title_mobile {
        font-size: 90px;
        letter-spacing: -1.92px;
        transform: translateY(73px);

    }

    .hero_title_custom {
        font-size: 90px;
        letter-spacing: -1.92px;
    }

    .hero_title_mobile_custom {
        font-size: 90px;
        letter-spacing: -1.92px;
    }

    .adv_top_wrapper {
        max-width: 168px;
        height: 166px;
    }

    .concept_img_side {
        width: 168px;
        height: 166px;
    }

    .adv_top_wrapper_custom {

        padding: 0 6px;
    }

    .fransh_content {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main {
        background-image: url(../img/main_franchise_375.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .fransh_wrapper {
        margin-bottom: 194px;
    }

    .messengers {
        padding-top: 203px;
        padding-bottom: 203px;
    }


    .adv {
        padding-top: 120px;
        padding-bottom: 100px;
    }


}

@media (max-width: 374px) {
    .hero_title_mobile {
        font-size: 75px;
        letter-spacing: -1.92px;
        transform: translateY(62px);

    }

    .hero_title_custom {
        font-size: 75px;
        letter-spacing: -1.92px;
    }

    .hero_title_mobile_custom {
        font-size: 75px;
        letter-spacing: -1.92px;
    }

    .adv_top_wrapper {
        max-width: 134px;
        height: 133px;
    }

    .concept_img_side {
        width: 134px;
        height: 133px;
    }


}